.box-admin {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  margin-left: 450px;
  background-color: #15304e;
  width: 350px;
  border-radius: 15px;
}

.box-admin:hover {
  box-shadow: 5px 10px 18px #888888;
  transform: scale(1.2);
  transition: all 0.8s;
  margin-bottom: 75px;
}

.adminLogin-inputs {
  width: 300px;
  margin-bottom: 20px;
  border: none;
  margin-left: 20px;
  height: 30px;
}

.adminLogin-label {
  margin-left: 21px;
  margin-top: 15px;
  color: white;
}

.li-navbar {
  color: black;
}
